body {
    font-family: "qtpi";
}
header {
    text-align: center;
    padding: 10px;
    color: white;
    background-color: #ffb6c1;
}
body, h1 {
    margin: 0;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(6rem, 0.75fr));
    grid-auto-rows: 0.75fr;
    grid-gap: 20px;
    margin: 10px;
}
.grid::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}
.grid > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}
.grid > * {
    display:block;
    margin:auto;
}
#nasa {
    background: url("../img/nasa.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.grid-item {
    min-width: 6rem;
    min-height: 6rem;
    position:relative;
    border-radius: 15%;
    border: 5px solid#ffb6c1;
}
.grid-item:hover {
    border: 5px solid#ffeaa7;
}
#info {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}
#infoimg {
    border-radius: 50%;
    border: 3px solid #e84393;
    margin: auto;
    clip-path: circle(40%);
}
#imgwrap {
    border: 3px solid #e84393;
    width: 20%;
}
a {
    background-color: #ffb6c1;
    color: white;
    padding: 0.25em 0.5em;
    text-decoration: none;
    border-radius: 15%;
}
a:hover {
    background-color: #e84393;
}